---
import "./events.css";
import ContentCard from "../link-content-card/link-content-card.astro";
import { format } from 'date-fns'
import events from "./events.json";
const {showHeading = true} = Astro.props as {
    showHeading: boolean,
}




---

<article class="events">
  {showHeading &&
    <header>
      <h2>Events</h2>
    </header> 
  }
  <ul role="list" class="event-list">
    {
      events.map((evt) => (
        <li class="event-list__item">
          <div>
            <p class="event-list__date">
              <ion-icon name="calendar" /> {format(new Date(evt.date), 'do MMMM yyyy')} {evt.time}
            </p>
            <h3>{evt.title}</h3>
          </div>
          <div>
            <p>{evt.description}</p>
          </div>
          <div class="event-list__cta">
            <a href={evt.link} class="btn" data-variant="outlined" target="__blank">{evt.label}</a>
          </div>
        </li>
      ))
    }
  </ul>
</article>
