---
import ColumnContainer from "../components/column-container/column-container.astro";
import ContentColumns from "../components/content-columns/content-columns.astro";
import MembershipCard from "../components/membership-card/membership-card.astro";
import MemberpshipPlans from "../components/memberships-plans/memberpship-plans.astro";
import PageDividerImage from "../components/page-divider-image/page-divider-image.astro";
import PageHeading from "../components/page-heading/page-heading.astro";
import Layout from "../layouts/Layout.astro";

const faqs = [
  {
    question: "I am nervous about my fitness, can I scale the workouts?",
    answer:
      "We have classes for all levels of fitness, from beginners to advanced, we can adapt the workouts to suit your needs.",
  },
  {
    question: "Is there parking available?",
    answer:
      "Yes there is free parking available for all members directly outside the gym.",
  },
  {
    question: "I don't drive what is the best way to get to the gym?",
    answer:
      "The Palmersville Metro station is a 10 minute walk from the gym. There is also a bus stop out side of the ASDA that is a 5 minute walk from the gym.",
  },
  {
    question: "Can I cancel my membership at any time?",
    answer: "all we ask for is a 1 month notice period",
  },
  {
    question: "Are there changing rooms at the gym?",
    answer:
      "Yes, we have changing rooms and showers available for all members.",
  },
  {
    question: "Can I record / take photos in the gym?",
    answer:
      "Yes, you can take photos and record in the gym, we just ask that you are respectful of other members.",
  },
];
---

<Layout
  pageName="memberships"
  title="Death or Glory Training Club | Memberships" 
	description="Explore flexible membership options at Death or Glory Training Club. Whether you're a beginner or seasoned athlete, find a plan that suits your fitness needs."
	keywords="fitness memberships Newcastle, Death or Glory membership plans, flexible gym memberships, beginner fitness programs, advanced athlete training"
>

  <MemberpshipPlans>
    <MembershipCard
      title="10 session pack"
      price="£120"
      oneOff={true}
      description="10 Drop In sessions that can be used for all classes or open gym access. Valid for 3 months from date of first registration."
      url="https://goteamup.com/p/2217528-crossfit-death-or-glory/memberships/227720/"
    />
    
    <MembershipCard
      title="Unlimited"
      price="£99"
      description="Unlimited access to all of our classes & open gym bookings"
      isPopular={true}
      url="https://goteamup.com/p/2217528-crossfit-death-or-glory/memberships/84576/"
    />
    <MembershipCard
      title="Open Gym"
      price="£60"
      description="07:00 - 16:30 Weekdays & 08:00-12:00 Sundays"
    />
    <MembershipCard
      title="Kids & teens"
      price="£7.50"
      oneOff={true}
      description="Specific classes for ages 5-8, 9-12 & teens 13-15"
      url="https://death-or-glory-age-group-training-limited.square.site"
    />
    <MembershipCard
      title="Legends (55+)"
      price="£7.50"
      oneOff={true}
      description="Specific classes for people 55+"
      url="https://death-or-glory-age-group-training-limited.square.site"
    />
  </MemberpshipPlans>
  <div class="block">
    <header class="block-header" data-align="center">
      <h2>Membership FAQ's</h2>
      <p>
        We have collated a list of the most frequently asked questions from new
        members, we hope these will help.If you don't find the answer you are
        looking for please don't hesitate to get in touch.
      </p>
    </header>
    <div class="faq">
      {
        faqs.map((faq) => (
          <details>
            <summary>
              {faq.question}{" "}
              <div class="icon">
                <ion-icon name="remove-circle-outline" class="remove" />
                <ion-icon name="add-circle-outline" class="add" />
              </div>
            </summary>
            <p>{faq.answer}</p>
          </details>
        ))
      }
    </div>
  </div>
</Layout>
